.advanteges__lead {
    margin: 30px 0;
}

.advanteges__wrap {
    .mobile-center();
    padding: 28px 20px 30px;
}

.advanteges__heading {
    .reset-indents();
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 26px;
    color: @heading-dark;
}

.advanteges__number {
    display: block;

    .reset-indents();
    margin-bottom: 15px;
}

.advanteges__text {
    .reset-indents();
    line-height: 21px;
}

.advanteges__item {
    background-color: @bg-grey;

    &--photo {
        color: @heading-white;
        background-color: @bg-blue;

        .advanteges__wrap {
            padding: 40px 20px;
        }

        .advanteges__heading {
            color: @heading-white;
        }

        &:first-of-type {
            .advanteges__wrap {
                padding-top: 60px;
            }
        }
    }
}

.advanteges__photo {
    display: block;
    .reset-indents();
    width: 100%;
}
