.booking {
    .mobile-center();
    padding: 28px 20px 50px;
}

.booking__trigger {
    font-size: 21px;
    line-height: 26px;
    color: @heading-dark;
}

.booking__lead {
    margin: 24px 0 40px;
}
