.page-header__banner {
    .reset-indents();
    margin-top: -40px;
    padding: 90px 20px 85px;
    width: 100%;

    background: @bg-blue url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
    background-size: cover;
}
