.photo-card {
    margin: 0 auto;
    padding: 20px 0;

    width: 280px;

    text-align: left;
}

.photo-card__img,
.photo-card__img a {
    display: block;
}

.photo-card__caption {
    margin-top: 20px;

    color: @heading-dark;
}

.photo-card__autor {
    .reset-indents();

    text-transform: none;
}