.social {
    .mobile-center();
    padding: 0 20px;
}

.social__tag {
    margin-bottom: 40px;

    font-size: 21px;
    line-height: 26px;
    color: @heading-dark;
}

.social__list {
    .reset-list();
}
